{% extends 'base.html.twig' %}



{% block title %}Calendrier
{% endblock %}

{% block stylesheets %}
	<style>
		#calendrier {
			width: 55%;
			margin: auto;
			margin-top: 5em;
			margin-bottom: 5em;
		}
	</style>
{% endblock %}

{% block body %}

	<div id="calendrier">
	</div>

{% endblock %}


{% block javascripts %}
	<script>
	window.onload = () => {
		let calendarElt = document.querySelector('#calendrier')
		let calendar = new FullCalendar.Calendar(calendarElt, {
			initialView: 'timeGridWeek',

			selecHelper: false,
			selectOverlap: false,
			locale: 'fr',
			timeZone: 'Europe/Paris',

			headerToolbar: {
				start: 'prev,next today',
				center: 'title',
				end: 'dayGridMonth,timeGridWeek,timeGridDay'
			},

			events: {{ data| raw}}
			   
		})

		calendar.on('eventChange', (info)=>{
			let url = `/api/${info.event.id}/edit`
			let donnees = {
				"title": info.event.title,
				"description": info.event.extendedProps.description,
				"start": info.event.start,
				"end": info.event.end,
				"backgroundColor": info.event.backgroundColor,
				"borderColor": info.event.borderColor,
				"textColor": info.event.textColor,
			}
			

			let xhr = new XMLHttpRequest

			xhr.open("PUT", url)
			xhr.send(JSON.stringify(donnees))
		})
		calendar.render()
	}
	
	</script>
{% endblock %}