#calendrier {
    margin: 1em auto;
    height: 50em !important;
    width: 80%;
    /* width: 25em;  */
}

.btn{
    font-family: jura;
}


.fc .fc-toolbar-title {
    font-size: 1em;    
}
    
/* months, weeks, <  */
.fc-direction-ltr .fc-button-group>.fc-button:not(:last-child) {
    font-size: 12px;
}
    
/* day */
.fc-direction-ltr .fc-button-group>.fc-button:not(:first-child) {
    font-size: 12px;
}
    
/* today */
.fc-direction-ltr .fc-toolbar>*>:not(:first-child) {
    margin-left: .75em;
    font-size: 12px;
}
    
.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    color: black;
    font-size: 14px;
}

.fc-timegrid-event .fc-event-time {
    /* text-align: center; */
    font-size: 1em;
    font-weight: bold;
}
    
.fc-view-harness.fc-view-harness-active div  table  tbody  tr:nth-child(1)  td  div  div  div table  tbody  tr{
    display: none;
}

.modal {
    margin-top: 9em;
}

.m-5 {
    margin: 2rem!important;
}

.musique{
    color: green;
}

.photo{
    color: rgb(201, 9, 9);
}

ul{
    list-style-type:none;
}

.legende{
    margin-left: 11em;
    font-size: 1.10em;
    font-family: jura;
    font-weight: bold;
}

.modal-body {
    font-family: jura;
}

.h5, h5 {
    font-size: 2rem;
    font-family: jura;
    font-weight: bold;
}

h5{
    text-align: center;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
    font-size: 1.25em;
    text-align: center;
    font-family: 'Jura';
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    text-align: center;
    font-size: 1.25em;
    font-family: 'Jura';
    font-weight: bold;
}