{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'STATISTIQUES' %}

{% block stylesheets %}
{% endblock %}

{% block main %}

        <div class="d-flex justify-content-center mh-100">
        <div class="card text-center text-white bg-dark" style="width: 50rem;">
            <div class="card-body">
                <h5 class="card-title mb-3">STATISTIQUES STUDIO</h5>
                <p class="card-text"><canvas id="mChart" width="600" height="400"></canvas></p>
            </div>
        </div>
    </div>
{% endblock %}

    {% block body_javascript %}

    <script>
            const ctx = document.getElementById('mChart').getContext('2d');
            const myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Mixage', 'Enregistrement', 'Mastering', 'Shooting', 'Retouches', 'Clips vidéos'],
                datasets: [{
                    label: 'Types de rendez-vous (en %)',
                    data: [25, 19, 12, 20, 14, 10],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 3
                }]
            },
            options: {
                scales: {
                    y: {
                        suggestedMin: 0,
                        suggestedMax: 100
                    }
                }
            }
});
</script>
{% endblock %}
