{% extends 'base.html.twig' %}

{% block title %}
	24K /Label
{% endblock %}


{# {% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %} #}


{% block body %}
	<div class="home color-change-2x">
		
	</div>
{% endblock %}
